.loader__wrapper {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(40, 40, 40);

}

.loader__label {
  font-family: GameofThronesKG, sans-serif;
  color: #fff;
  border: none;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 10px;
}

#loaderBar {
  width: 50%;
  height: 20px;
  border: 0;
  border-radius: 20px;
  color: rgb(82, 27, 27);
  background-color: transparent;
}

#loaderBar::-webkit-progress-bar {
  border: 0;
  height: 20px;
  border-radius: 20px;
  background-color: transparent;

}

#loaderBar::-webkit-progress-value {
  border: 0;
  height: 20px;
  border-radius: 20px;
  background: rgb(82, 27, 27);
}

#loaderBar::-moz-progress-bar {
  border: 0;
  height: 20px;
  border-radius: 20px;
  background: rgb(82, 27, 27);
}