/***************header***************/
.header {
  padding: 15rem 0;
  position: relative;

  background-image: url("../img/map2.jpg");
  z-index: 99;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

  @media only screen and (max-device-width: 1000px) {
    background-attachment: scroll;
  }

  &__fixed {
    margin-top: 5px;
    position: relative;
  }

  &__banner {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

    padding: 0;
    margin: 0 auto;
    border-radius: 0;
    color: var(--white-color);
    width: 100%;
  }

  &__title {
    margin: 0;
    padding: 7px 1px;
  }

  &__logo {
    display: none;
  }

  &__dropdown {
    display: none;
  }
}

#alphabetSort,
#houseSort,
#findName {
  width: 100%;
}

.logo__img {
  width: 50px;
  height: 50px;
}

.h1 {
  font-family: GameofThronesKG, serif;
  letter-spacing: 3px;
  text-align: center;
  font-size: 2rem;
}

.h2 {
  font-size: 1.2rem;
  text-align: center;
}

.filter__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0.8rem;
  padding: 1rem;
}

form {
  position: relative;
}

#clearInput {
  display: block;
  font-size: 25px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 2;
}

#clearInput:hover,
#clearInput:focus {
  color: #ff0000;
}

.filter__block > form{
  width: 100%;
  overflow: hidden;
}

.filter__block select, .filter__block .input {
  border-radius: 5px;
  font-size: 1.5rem;
  border: 1px solid rgba(108, 108, 108, 0.22);
  padding: 5px;
}

.filter__input,
.filter__name,
.filter__house {
  width: 100%;
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  padding: 0 1em;
  color: #fff;
  background-color: #2c2c2c;
  background-image: none;
  cursor: pointer;

  display: block;
  border-radius: .25em;
  overflow: hidden;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Transition */
.filter__name:hover::after,
.filter__input:hover::after,
.filter__house:hover::after {
  color: #f39c12;
}


::placeholder {
  color: #fff;
  font-size: 1.5rem;
}

.scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-size: 1rem;
  width: 100%;
  margin-top: 0;

  > .header__banner {
    flex-direction: row;
    justify-content: center;
    background: rgb(108 108 108);

    & > .header__dropdown {
      display: block;

      position: fixed;
      right: 10px;
      top: 50px;
      transition: all .5s ease;
    }

    & > .header__title {
      & > .h1 {
        font-size: 1.6rem;
      }

      & > .h2 {
        display: none;
      }

      & > .h1,
      & > .h2 {
        margin: 0.5rem;
      }
    }
  }

  & > .filter__block {
    display: none;
  }

  .active {
    background-color: rgba(255, 255, 255, .623);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
    padding: 25px 10px;
  }
}

.shadow-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 20rem;
  background: linear-gradient(0deg, rgb(27, 31, 34) 0%, rgba(255, 255, 255, 0) 100%);
}

/***************************************/
/* main start */
.main {
  position: relative;
  background-color: rgb(27, 31, 34);
}

.characters__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  margin: 0;
}

.characters__list li {
  list-style-type: none;
}

.card {
  perspective: 1000px;
  transform-style: preserve-3d;

  &__body {
    width: 200px;
    height: 250px;
    transition: transform 0.2s;
    margin: 1px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    min-width: 190px;
    max-width: 190px;
    height: 150px;
    padding: 5px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.img {
  width: 100%;
  height: auto;

}

.card__text {
  font-size: 2rem;
  color: var(--white-color);
  text-align: center;
  padding: 0 5px;
}

.card:hover .card__body {
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.623);
}

.card:hover .card__text {
  text-shadow: 2px 2px 10px var(--white-color);
  transition: all 0.2s ease;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* cards effect start */

.characters__list li {
  position: relative;
  z-index: 1;
  perspective: 1000px;


  &:hover .card__body {
    transform: rotateX(7deg) translateY(-6px);

    &::after {
      transform: translateY(0%);
    }

  }

}

/* cards effect end */

.mainNew {
  height: calc(100vh - 202px);
}

/* main end */

/* footer start */

.footer {
  background-color: rgb(27, 31, 34);
}


.footer-text p {
  font-size: 1.1rem;
  color: var(--white-color);
  text-align: right;
  padding: 2rem;
  margin: 0;
}
/* footer end */

@media screen and (min-width: 535px) {
  .filter__block > form {
    width: auto;
  }

  .scroll > .header__banner > .header__dropdown {
    right: 10px;
    top: 10px;
  }
}

@media screen and (min-width: 800px) {
  .h1 {
    padding: 10px 15px;
    font-size: 2.6rem;
  }

  .h2 {
    font-size: 1.3rem;
  }
  .scroll {
    & > .header__banner {
      width: 100%;
      justify-content: space-between;

      & > .header__dropdown {
        display: none;
      }
    }

    & > .filter__block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;
      margin: 0;
      padding: 10px;

      background-color: rgba(159, 157, 157, 0.95);
    }

    & > .header__banner > .header__logo {
      display: block;
      padding: 10px 15px;
    }
  }

  ::placeholder {
    font-size: 1.5rem;
  }

  .shadow-block {
    height: 2rem;
  }
}


@media screen and (min-width: 1000px) {
  .h1 {
    font-size: 3.3rem;
  }

  .h2 {
    font-size: 1.6rem;
  }
  .mainNew {
    height: auto;
  }
}

