@font-face {
  font-family: GameofThronesKG;
  src: url(../../fonts/GameofThronesKG.ttf);
}

:root {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  font-size: 10px;
  --white-color: #fff;
  cursor: url("../img/cursor.png"), auto;
  cursor: url("../img/cursor.png"), pointer;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: url("../img/cursor.png"), auto;
}

/* header start */

.header {
  padding: 15rem 0;
  position: relative;

  background-image: url("../img/map2.jpg");
  //min-height: 500px;
  z-index: 99;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

  @media only screen and (max-device-width: 1000px) {
    background-attachment: scroll;
  }
}

.header__fixed {
  margin-top: 0.1rem;
}

.header__banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  color: var(--white-color);
  width: 100%;
}

.header__title {
  margin: 0;
  padding: 7px 1px;
}

.header__banner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.header__logo {
  display: none;
}

.h1 {
  font-family: GameofThronesKG, serif;
  letter-spacing: 3px;
  text-align: center;
  font-size: 4rem;
}

.h2 {
  font-size: 2rem;
  text-align: center;
}


.scroll {
  >.header__banner {
    flex-direction: row;
    justify-content: space-evenly;
    background: rgb(108 108 108 / 85%);

    &>.header__logo {
      //margin: auto 0;
      width: 6rem;
      display: block;
    }

    .h1 {
      font-size: 2rem;
    }

    .h2 {
      display: none;
    }

    .header__logo,
    .h1,
    .h2 {
      margin: 0.5rem;
    }
  }

  &>.filter__block {
    margin: 0;
  }

}

.logo,
.h1,
.h2,
.filter__block {
  transition: 0.3s ease;

}

.scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-size: 1rem;
  width: 100%;
  margin-top: 0;
}

.blur {
  background: rgba(108, 108, 108, 0.27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.logo__img {
  width: 100%;
}

.filter__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 0.8rem;
  padding: 1rem;
}

.filter__block select, .filter__block .input{
  border-radius: 5px;
  font-size: 1.5rem;
  border: 1px solid rgba(108, 108, 108, 0.22);
  padding: 5px;

}

// .input {
//   width: 100%;
//   border: 1px solid rgba(108, 108, 108, 0.22);
//   border-radius: 5px;
//   margin: 0;
//   padding: 5px 10px;
// }

::placeholder {
  color: black;
  font-size: 1.5rem;
}

.shadow-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 20rem;
  background: linear-gradient(0deg, rgb(27, 31, 34) 0%, rgba(255, 255, 255, 0) 100%);
}

/* header end */
/* main start */
.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.main {
  position: relative;
  background-color: rgb(27, 31, 34);
}

.characters__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  margin: 0;
}

.characters__list li {
  list-style-type: none;
}

.card {
  perspective: 1000px;
  transform-style: preserve-3d;

  &__body {
    width: 200px;
    height: 250px;
    transition: transform 0.2s;
    margin: 1px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    min-width: 190px;
    max-width: 190px;
    height: 150px;
    padding: 5px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.img {
  width: 100%;
  height: auto;

}

.card__text {
  font-size: 2rem;
  color: var(--white-color);
  text-align: center;
  padding: 0 5px;
}

.card:hover .card__body {
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.623);
}

.card:hover .card__text {
  text-shadow: 2px 2px 10px var(--white-color);
  transition: all 0.2s ease;
}

/* main end */

/* footer start */

.footer {
  background-color: rgb(27, 31, 34);
}


.footer-text p {
  font-size: 1.1rem;
  color: var(--white-color);
  text-align: right;
  padding: 2rem;
  margin: 0;
}

/* footer end */

@media screen and (max-width: 1000px) {
  .h1 {
    font-size: 3.3rem;
  }

  .h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 800px) {
  .h1 {
    font-size: 2.6rem;
  }

  .h2 {
    font-size: 1.3rem;
  }

  .scroll>.header__banner>.filter__block {
    display: none;
  }

  ::placeholder {
    font-size: 1.5rem;
  }

  .shadow-block {
    height: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .h1 {
    font-size: 2rem;
  }

  .h2 {
    font-size: 1.2rem;
  }




  //.input {
  //  margin: 0;
  //  width: 100%;
  //}

  .scroll>.header__banner>.header__logo {
    display: none;
  }

}