.unknown {
    background: radial-gradient(circle, rgba(238, 174, 202, 0.5) 0%, rgba(148, 187, 233, 0.5) 100%);
}

.housestark,
.stark {
    background: linear-gradient(142deg, rgba(128, 128, 128, 0.5) 0%, rgba(222, 222, 222, 0.5) 39%, rgba(255, 255, 255, 0.5) 100%);

}


.housetargaryen,
.targaryan {
    background: linear-gradient(to left, rgba(240, 203, 53, 0.5), rgba(192, 36, 37, 0.5));
}

.housetarly {
    background: linear-gradient(to bottom, rgba(211, 203, 184, 0.5), rgba(109, 96, 39, 0.5));

}

.housebaratheon,
.baratheon {
    background: linear-gradient(to bottom, rgba(154, 132, 120, 0.5), rgba(30, 19, 12, 0.5));
}

.houselannister,
.lannister,
.qyburn,
.bronn,
.houselanister {
    background: linear-gradient(101deg, rgba(171, 22, 22, 0.5) 22%, rgba(191, 178, 0, 0.5) 53%);

}



.housegreyjoy,
.greyjoy {
    background: radial-gradient(circle, rgba(191, 178, 0, 0.5) 16%, rgba(0, 0, 0, 0.5) 100%);
}

.houseclegane {

    background: linear-gradient(301deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 237, 0, 0.5) 91%);

}

.housebaelish {
    background: linear-gradient(320deg, rgba(59, 59, 59, 0.5) 28%, rgba(255, 125, 28, 0.5) 41%, rgba(90, 226, 98, 0.5) 51%);

}

.houseseaworth {
    background: linear-gradient(17deg, rgba(255, 255, 255, 0.5) 0%, rgba(59, 59, 59, 0.5) 58%, rgba(0, 0, 0, 0.5) 74%);
}

.housetyrell,
.tyrell {

    background: linear-gradient(17deg, rgba(39, 163, 0, 0.5) 0%, rgba(255, 224, 0, 0.5) 88%);
}

.freefolk {

    background: linear-gradient(17deg, rgba(0, 163, 146, 0.5) 0%, rgba(50, 87, 122, 0.5) 88%);
}

.tarth {
    background: linear-gradient(10deg, rgba(255, 233, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 52%, rgba(43, 24, 126, 0.5) 91%);
}

.naathi {
    background: linear-gradient(16deg, rgba(255, 255, 255, 0.5) 32%, rgba(24, 126, 40, 0.5) 91%);
}

.bolton {
    background: linear-gradient(17deg, rgba(206, 0, 0, 0.5) 12%, rgba(126, 24, 68, 0.5) 96%);
}

.mormont {
    background: linear-gradient(0deg, rgba(5, 149, 8, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}