body.modal-open {
    overflow: hidden;
}

.modal-is-open {
    margin: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    scale: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 11111;
}

.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;


}

.backdrop--is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    // z-index: 11111;

    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 25vw;
    min-height: 25vw;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__card {
        width: 300px;
        height: 250px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;


    }

}

//=========houses background=============//
.unknown {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.housestark,
.stark {
    // background-size: cover;
    // background-image: url('https://media.giphy.com/media/dAyD6PWoQRs40/giphy.gif');
    background: rgb(128, 128, 128);
    background: linear-gradient(142deg, rgba(128, 128, 128, 1) 0%, rgba(222, 222, 222, 1) 39%, rgba(255, 255, 255, 1) 100%);
}


.housetargaryen,
.targaryan {
    // background-size: cover;
    // background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjNiYjgzYWIxMTAwNjk5NGQ0NTc5NTQyNmExZjc0ZTRjN2Y4NmQ3NyZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/T24yEf6Cx3XVRFByxe/giphy.gif');
    // background: rgb(184, 10, 10);
    background: #C02425;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F0CB35, #C02425);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F0CB35, #C02425);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.housetarly {
    // background-size: cover;
    // background-image: url('https://i.gifer.com/2ZtZ.gif');
    background: #6D6027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D3CBB8, #6D6027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D3CBB8, #6D6027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.housebaratheon,
.baratheon {
    background: #1e130c;
    background: -webkit-linear-gradient(to bottom, #9a8478, #1e130c);
    background: linear-gradient(to bottom, #9a8478, #1e130c);



}

.houselannister,
.lannister,
.qyburn,
.bronn,
.houselanister {
    background: rgb(171, 22, 22);
    background: linear-gradient(101deg, rgba(171, 22, 22, 1) 22%, rgba(191, 178, 0, 1) 53%);
}



.housegreyjoy,
.greyjoy {
    background: rgb(191, 178, 0);
    background: radial-gradient(circle, rgba(191, 178, 0, 1) 16%, rgba(0, 0, 0, 1) 100%);
}

.houseclegane {
    background: rgb(0, 0, 0);
    background: linear-gradient(301deg, rgba(0, 0, 0, 1) 0%, rgba(255, 237, 0, 1) 91%);
}

.housebaelish {
    background: rgb(59, 59, 59);
    background: linear-gradient(320deg, rgba(59, 59, 59, 1) 28%, rgba(255, 125, 28, 1) 41%, rgba(90, 226, 98, 1) 51%);
}

.houseseaworth {
    background: rgb(255, 255, 255);
    background: linear-gradient(17deg, rgba(255, 255, 255, 1) 0%, rgba(59, 59, 59, 1) 58%, rgba(0, 0, 0, 1) 74%);
}

.housetyrell,
.tyrell {
    background: rgb(39, 163, 0);
    background: linear-gradient(17deg, rgba(39, 163, 0, 1) 0%, rgba(255, 224, 0, 1) 88%);
}

.freefolk {
    background: rgb(0, 163, 146);
    background: linear-gradient(17deg, rgba(0, 163, 146, 1) 0%, rgba(50, 87, 122, 1) 88%);
}

.tarth {
    background: rgb(255, 233, 0);
    background: linear-gradient(10deg, rgba(255, 233, 0, 1) 0%, rgba(255, 255, 255, 1) 52%, rgba(43, 24, 126, 1) 91%);
}

.naathi {
    background: rgb(255, 255, 255);
    background: linear-gradient(16deg, rgba(255, 255, 255, 1) 32%, rgba(24, 126, 40, 1) 91%);
}

.bolton {
    background: rgb(206, 0, 0);
    background: linear-gradient(17deg, rgba(206, 0, 0, 1) 12%, rgba(126, 24, 68, 1) 96%);
}

.mormont {
    background: rgb(5, 149, 8);
    background: linear-gradient(0deg, rgba(5, 149, 8, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.modal__button {
    cursor: pointer;
    display: block;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

#hero-image {

    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}

.family,
.born,
.died {
    border: 1px solid rgb(97, 97, 97);
    background-color: rgb(97, 97, 97);
    padding: 2px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-family: GameofThronesKG, serif;
    letter-spacing: 4px;
}