body.modal-open {
    overflow: hidden;
}

.modal-is-open {
    margin: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
    scale: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 11111;
}

.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;


}

.backdrop--is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: black !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__card {
        width: 250px;
        height: 200px;

        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1023px) {
            width: 190px;
            height: 150px;
        }




    }

    @media screen and (min-width: 320px) {
        width: 280px;
        min-height: 300px;
        padding: 40px 10px;
    }

    @media screen and (min-width: 425px) {
        width: 320px;

    }

    @media screen and (min-width: 1024px) {
        width: 400px;
    }

    @media screen and (min-width: 1440px) {
        padding: 40px;
        width: 30vw;
    }
}

#hero-image {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

}

.hero-info {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 70%;

}

.family,
.born,
.died {

    margin: 0;
    padding: 2px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    // font-family: GameofThronesKG, serif;
    letter-spacing: 2px;

    @media screen and (max-width: 767px) {
        font-size: 12px;

    }
}

.close-modal {
    z-index: 111;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    opacity: 0.2;

    transition: opacity ease 0.5s;

    &:hover {
        opacity: 1;
    }

    @media screen and (max-width: 768px) {
        width: 16px;
        height: 16px;

    }
}

.close-modal::before,
.close-modal::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);

    @media screen and (max-width: 768px) {
        width: 16px;
        height: 16px;
        height: 2px;
    }
}

.close-modal::before {
    transform: rotate(45deg);
}

.close-modal::after {
    transform: rotate(-45deg);
}